

.fixme1 img {
    width:200px;
}

.fixme2 {
  font-size: 300%;
}

.fixme3 {
  background-color: yellow;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.fixme3 li {
  font-size: 20px;
  padding: 20px;
}
